{literal}
<!DOCTYPE html>
<html lang="en-us"  ng-app="streameApp">
  <head>
    <title>strea.me - relax, engage, inspire</title>
<!--     <link rel="shortcut icon" href="/images/favicon.png"> -->
    <meta name=viewport content=width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1>
    <link rel="stylesheet" href="/css/compiled/www.css">
    
    <meta property="og:title" content="strea.me">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://strea.me">
    <meta property="og:image" content="http://strea.me/images/logo.png">
    <meta property="og:site_name" content="Strea.me">
<!--     <meta property="og:fb:admins" content=""> -->
    <meta property="og:description" content="strea.me - relax, engage, inspire">

  </head>

  <body ng-controller="FrameController">
    <ng-include src="'/partials/header.html'"></ng-include>
    <div ng-view id="container"></div>
        
    <script src="/js/lib/angular/angular.js"></script>
    <script src="/js/lib/angular/angular-route.js"></script>
    <script src="/js/lib/angular/angular-cookies.js"></script>
    <script src="/js/lib/angular/angular-sanitize.js"></script>
    <script src="/js/compiled/www/app.js"></script>
  </body>
  
</html>
{/literal}
